<div class="col-lg-6 mx-lg-auto">
  <div class="card shadow">
    <div class="card-header">
      <h2 class="card-title text-center">Edit <%= resource_name.to_s.humanize %></h2>
    </div>
    <div class="card-body">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%
=begin%>
 <div class="field">
    <%= f.label :full_name %><br/>
    <%= f.text_field :full_name,required: true%>
  </div> 
<%
=end%>
  <%
=begin%>
 <div class="field">
    <%= f.label :phone%><br />
    <%= f.text_field  :phone,autofocus: true,required: true %>
  </div> 
<%
=end%>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email,required: true, autofocus: true, autocomplete: "email", class: "form-control form-control-lg" %>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <div class="field">
    <%= f.label :password ,class: "mb-2" %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-lg" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation,class: "mb-2" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-lg" %>
  </div>
  <div class="field">
    <%= f.label :current_password , class: "mb-2"%> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control form-control-lg" %>
  </div>
  <%
=begin%>
 <div class="field">
    <%= f.label :Photo %><br />
    <%= f.file_field :photo,required: true,  accept: "image/png, image/jpg, image/jpeg" %>
  </div> 
<%
=end%>
  <div class="actions">
    <%= f.submit "Update", class:"btn btn-primary w-100" %>
  </div>
<% end %>


</div>

</div>

</div>